*

!.gitignore
!CMakeLists.txt
!LICENSE
!README.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!SECURITY.md
!.github/
!.github/**

!src/
!src/**

!installer/
!installer/**
installer/**/bin/
installer/**/bin/**
installer/**/obj/
installer/**/obj/**
installer/**/.vs/
installer/**/.vs/**
installer/**/*.user
installer/**/*.suo
*.exe
*.dll
*.pdb
